body {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word
}


/* (A) SEARCH BOX */

#the-filter {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

.container {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    border: 1px solid #012f6b;
}

.container h1,
.container h3,
.container h4 {
    color: #012f6b;
}

h1 {
    font-weight: bold;
    padding-top: 10px;
}

#snap {
    border: none;
    height: 100%;
    width: 100px;
    font-size: 22px;
    color: #fff;
    background-color: #012f6b;
    border-radius: 8px;
    margin-top: 10px;
}

#snap:hover,
#stop-button:hover,
#searchButton:hover {
    background-color: #c40f3c;
}

#searchButton {
    border: none;
    height: 100%;
    width: 100px;
    font-size: 22px;
    color: #fff;
    background-color: #012f6b;
    border-radius: 8px;
    margin-top: 10px;
    white-space: pre-line;
}

#stop-button {
    border: none;
    height: 100%;
    width: 200px;
    font-size: 22px;
    color: #fff;
    background-color: #012f6b;
    border-radius: 8px;
    margin-top: 10px;
}

.cameras {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#canvas {
    height: 100%;
    width: 100%;
}

.left {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.right {
    height: 98%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* (B) LIST */

#wiso-list {
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#wiso-list li {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #012f6b;
    justify-content: center;
}

#wiso-list li button {
    background-color: #012f6b;
    border: 1px solid #012f6b;
    border-radius: 10px;
}

#wiso-list li.hide {
    display: none;
}

ul {
    height: 200px;
    width: 50%;
}

ul {
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 600px) {
    .cameras {
        grid-template-columns: 1fr;
    }
}


/* The Modal (background) */

.containerdata {
    /* display: none;  Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 50px;
    padding-bottom: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.bg {
    background-color: #fff;
    border: 2px solid #012f6b;
    border-radius: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.bg h5 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#dname {
    color: black;
    text-align: center;
    font-weight: bold;
    width: 80%;
    font-size: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.personaldata,
.arbeiter,
.faecher {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#blue-balken {
    background-color: #012f6b;
    width: 100%;
    height: 2px;
}

.close {
    color: #012f6b;
    float: right;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-align: right;
    font-size: 10px;
    color: #012f6b;
}